
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test2</title>
</head>
<body>
    @*@Html.Action("Liste")*@

    <div style="margin:20px">@Html.Partial("liste")</div>
    @Html.Partial("liste")
    @Html.Partial("liste")
    @Html.Partial("liste")
    @Html.Partial("liste")
</body>
</html>
